.register__signin-link {
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.register__signin-link:hover {
    opacity: .6;
    transition: opacity .2s linear;
}