.profile__avatar {
    display: block;
    width: 120px;
    min-height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 730px) {
    .profile__avatar {
        min-width: 18px;
        height: 18px;
    }
}